<div class="detail-page">
<div class="overlay" *ngIf="degree" (click)="goBack()">
    <button mat-icon-button class="back-btn" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
        Back
    </button>
    <mat-card class="detail-card" (click)="$event.stopPropagation()">
        <div class="card-header">
            <div class="degree-info">
                <h1 class="degree-title">{{ degree.degree }}</h1>
  
          <div class="metadata">
            <mat-chip-set>
              <mat-chip>{{degree.university1}}</mat-chip>
              <mat-chip>{{degree.university2}}</mat-chip>
              <mat-chip>{{degree.university3}}</mat-chip>
            </mat-chip-set>
          </div>
        </div>
      </div>
  
      <mat-card-content>
        <div class="description-section">
          <h3>Reason</h3>
          <p class="description">{{ degree.reason}}</p>
        </div>
  
        <div class="career-path-salary">
          <div class="career-path-salary-description">
            <div>
              <h4>Avaliable Career Paths</h4>
              <p>{{degree.careers}}</p>
            </div>
          </div>
  
          <div class="degree-requirements">
            <div class="course-degree-requirements">
              <div>
                <h4>Required Courses</h4>
                <p>{{degree.requirements}}</p>
              </div>
            </div>
          </div>
  
          <div class="info-item">
            <div>
              <h4>Average Salary</h4>
              <p>{{degree.salary}}</p>
            </div>
          </div>
        </div>
      </mat-card-content>
</mat-card>
</div>
</div>