
.detail-card {
    width:800px;
    margin: auto;
}

.degree-title {
    margin-left: 20px;
    color: #7F011F;
}

.metadata {
    margin-left: 20px;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4); /* optional */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

  @keyframes slideUp {
    from {
      transform: translateY(30px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
}

.detail-card {
  width: 500px;
  height: 650px;
  overflow-y: auto;
  animation: slideUp 1s ease-out;
  will-change: transform, opacity;
}

.back-btn{
position: absolute;
  top: 16px;
  left: 16px;
  background: white;
  color: #7F011F;
  font-size: 20px;
  border-radius: 8px;
  padding: 6px 12px;
  z-index: 3;
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100px;
}
