/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap');

html, body { height: 100%; }
body { margin: 0; padding:0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mdc-line-ripple {
  display: none !important;
}

.mdc-notched-outline {
  display: none !important;
}

.mat-mdc-text-field-wrapper {
  border-radius: 999px !important;
  background: #e6e8ed !important;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

html,body{
    background-color: #F5EBD0;
}

mat-form-field.input .mat-mdc-form-field-infix {
    padding-left: 20px;
  }
  
  mat-form-field.input .mdc-text-field {
    padding-left: 20px;
  }
  .top-banner {
    background-color: #610320;
    padding: 16px 0;       /* instead of 80px */
    position: sticky;
    top: 0;
    z-index: 1000;
  }