.search {

}

.description {
  text-align: center;
  
}

.page-title {
  margin: 23px;
  margin-left: 23px;
}
.btn {
    height: 50px;
    width: 50px;
    border-radius: 999px;
}

.btn mat-icon {
  font-size: 22px;
}

.search-form {
  display: flex;          
  align-items: stretch;    
  gap: 12px;              
}
.result {
  margin-top: 32px;
}

.input {
  flex: 1;         
}

.btn {
  height: 56px;           
}

.search {
  display: flex;
  margin: auto;
  flex-direction: column;
  width:800px;
}
.card-grid {
  display: grid;                       
  grid-template-columns: repeat(4, 260px); 
  gap: 5px;               
  justify-content: center;

}
.example-card {
  height: 270px;        
  width: 190px;
  font-size: 0.8rem;   
  display: flex;        
  flex-direction: column;
}

.example-card p {
  margin: 6px 0;
  line-height: 1.3;
}

.example-card mat-card-title {
  font-size: 0.95rem;   
  line-height: 1.2;
}

mat-card-content {      
  flex: 1;      
  overflow: auto;     
}


.input{
  width:800px;
}