.page-wrapper { 
  min-height: 100vh; 
  border: 20px solid white; /* thickness */ 
  box-sizing: border-box; 
}

.search {
  display: flex;
  justify-content: center;
}

.description {
  text-align: center;
  font-family: 'Roboto', serif;
  color: white;
  font-weight: 900;
  font-size: 40px;

}

.page-title {
  margin: 23px;
  margin-left: 20px;
    font-family: 'Roboto', serif;
    color: rgb(255, 246, 246);
    font-weight: 400;
    font-size: 18px;
}

.btn {
    height: 50px;
    width: 50px;
    border-radius: 999px;
}

.btn mat-icon {
  font-size: 22px;
}

.search-form {
  display: flex;
  align-items: stretch;
  gap: 12px;
  width:800px;

}
.result {
  margin-top: 32px;
}

.input {  flex: 1;
}

.btn {
  height: 56px;
}

.search {
  display: flex;
  margin: auto;
  flex-direction: column;
  width:800px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 270px); 
  gap: 10px; 
  row-gap: 20px;
  justify-content: center;
  justify-items:center;


}
.example-card {
  height: 270px;
  width: 190px;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  position:relative;
  overflow:hidden;
}

.example-card p {
  margin: 6px 0;
  line-height: 1.3;
}

.example-card mat-card-title {
  font-size: 0.95rem;
  line-height: 1.2;
}

mat-card-content {
  flex: 1;
  overflow: auto;
}

.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 3;
  display: block;
  margin: 0;
  pointer-events: none;
  transform: scale(1.3);
  transform-origin: center;
  transition: opacity 300ms ease, transform 300ms ease;
}

.hover-card:hover .card-back {
  opacity: 0;
  transform: scale(1.03);
}

.input{
  width:800px;
}

.top-banner{
  background-color: rgb(179, 98, 98);
  height:280px;
}