.input-box {
  width: 100%;
  max-width: 500px;

  padding: 12px;
  margin-top: 12px;

  border-radius: 12px;
  border: 1px solid #ccc;

  font-size: 16px;
  font-family: Arial, sans-serif;

  resize: none;
}